@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #e2e8f0;
  opacity: 0.4;
  background-image: radial-gradient(#64748b 0.8px, transparent 0.8px),
    radial-gradient(#64748b 0.8px, #e2e8f0 0.8px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}
