@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-lg font-bold md:text-xl;
  }

  h4 {
    @apply md:text-lg;
  }

  li {
    @apply cursor-pointer transition-all hover:ml-4 hover:text-white md:text-lg;
  }

  p {
    @apply md:text-lg;
  }
}

@layer components {
  .card {
    @apply transform border-2 border-black bg-opacity-60 p-3 transition-all duration-200 ease-in-out hover:scale-95 hover:shadow-3xl;
  }

  .social-link {
    @apply transform p-2 text-2xl transition-all hover:scale-110;
  }

  .skill-pill {
    @apply border border-black bg-white px-2 text-sm dark:bg-indigo-200/10;
  }

  .project-mockup {
    @apply rounded-lg shadow-md;
  }

  .project-description {
    @apply text-gray-600 dark:text-gray-500;
  }

  /* .tech-stack-pill {
    @apply rounded-xl border border-indigo-400 bg-indigo-50 px-3;
  } */

  .primary-link {
    @apply transform rounded-lg border-2 border-indigo-400 bg-indigo-400 px-4 py-2 text-white shadow-md shadow-indigo-200 transition-all hover:scale-105;
  }

  .secondary-link {
    @apply transform rounded-lg border-2 border-indigo-400 bg-indigo-300/40 px-4 py-2 shadow-md transition-all hover:scale-105;
  }

  .project-btn-container {
    @apply mx-auto my-3 mt-auto flex w-3/4 flex-col justify-center space-y-2 pt-8 text-center;
  }

  .tech-stack-container {
    @apply mt-3 flex flex-wrap gap-2;
  }

  .project-card-container {
    @apply flex h-full flex-col rounded-xl bg-white bg-opacity-50 p-4 shadow-md dark:bg-black dark:bg-opacity-100;
  }
}

.dark-bg {
  background-color: #ffffff;
  background-image: radial-gradient(#3a3a3a 0.8px, transparent 0.8px),
    radial-gradient(#2c2c2c 0.8px, #131313 0.8px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}

.light-bg {
  background-color: #ffffff;
  /* background-image: radial-gradient(#c3c3c3 0.8px, transparent 0.8px),
    radial-gradient(#cccccc 0.8px, #f0f0f0 0.8px); */
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}
