@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-xl font-semibold;
  }

  li {
    @apply transition-all hover:ml-4;
  }
}

@layer components {
  .card {
    @apply transform rounded-xl bg-slate-200 bg-opacity-60 p-3 transition-all duration-200 ease-in-out hover:scale-95;
  }

  .social-link {
    @apply transform p-2 text-2xl transition-all hover:scale-110;
  }
}

body {
  background-color: #fafafa;
  background-image: radial-gradient(#7373735f 0.8px, transparent 0.8px),
    radial-gradient(#73737351 0.8px, #fafafa 0.8px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}
